h1{
    color: red;
}
.completed{
    color: gray;
    text-decoration: line-through;
}
.itemForm {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.itemForm input {
    margin-bottom: 10px;
}